.cabeca1 {
    background-color: #900;
}

.cabeca2 {
    background: #900;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.formulario {
    margin: 20px;
}